body {
    font-family: serif, sans-serif;
}

.user-info,
.super-user-info {
    border: 3px solid blue;
    padding: 15px;
    margin: 10px 0;
}

.user-info h3,
.super-user-info h3 {
    color: green;
}